html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body.deck-container {
  overflow-y: auto;
  position: static;
}

.deck-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 48px;
  font-size: 16px;
  line-height: 1.25;
  overflow: hidden;
  /* Resets and base styles from HTML5 Boilerplate */
  /* End HTML5 Boilerplate adaptations */
}
.js .deck-container {
  visibility: hidden;
}
.ready .deck-container {
  visibility: visible;
}
.touch .deck-container {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}
.deck-container div, .deck-container span, .deck-container object, .deck-container iframe,
.deck-container h1, .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5, .deck-container h6, .deck-container p, .deck-container blockquote, .deck-container pre,
.deck-container abbr, .deck-container address, .deck-container cite, .deck-container code, .deck-container del, .deck-container dfn, .deck-container em, .deck-container img, .deck-container ins, .deck-container kbd, .deck-container q, .deck-container samp,
.deck-container small, .deck-container strong, .deck-container sub, .deck-container sup, .deck-container var, .deck-container b, .deck-container i, .deck-container dl, .deck-container dt, .deck-container dd, .deck-container ol, .deck-container ul, .deck-container li,
.deck-container fieldset, .deck-container form, .deck-container label, .deck-container legend,
.deck-container table, .deck-container caption, .deck-container tbody, .deck-container tfoot, .deck-container thead, .deck-container tr, .deck-container th, .deck-container td,
.deck-container article, .deck-container aside, .deck-container canvas, .deck-container details, .deck-container figcaption, .deck-container figure,
.deck-container footer, .deck-container header, .deck-container hgroup, .deck-container menu, .deck-container nav, .deck-container section, .deck-container summary,
.deck-container time, .deck-container mark, .deck-container audio, .deck-container video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.deck-container article, .deck-container aside, .deck-container details, .deck-container figcaption, .deck-container figure,
.deck-container footer, .deck-container header, .deck-container hgroup, .deck-container menu, .deck-container nav, .deck-container section {
  display: block;
}
.deck-container blockquote, .deck-container q {
  quotes: none;
}
.deck-container blockquote:before, .deck-container blockquote:after, .deck-container q:before, .deck-container q:after {
  content: "";
  content: none;
}
.deck-container ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
.deck-container mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
.deck-container del {
  text-decoration: line-through;
}
.deck-container abbr[title], .deck-container dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
.deck-container table {
  border-collapse: collapse;
  border-spacing: 0;
}
.deck-container hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.deck-container input, .deck-container select {
  vertical-align: middle;
}
.deck-container select, .deck-container input, .deck-container textarea, .deck-container button {
  font: 99% sans-serif;
}
.deck-container pre, .deck-container code, .deck-container kbd, .deck-container samp {
  font-family: monospace, sans-serif;
}
.deck-container a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.deck-container a:hover, .deck-container a:active {
  outline: none;
}
.deck-container ul, .deck-container ol {
  margin-left: 2em;
  vertical-align: top;
}
.deck-container ol {
  list-style-type: decimal;
}
.deck-container nav ul, .deck-container nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
.deck-container small {
  font-size: 85%;
}
.deck-container strong, .deck-container th {
  font-weight: bold;
}
.deck-container td {
  vertical-align: top;
}
.deck-container sub, .deck-container sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
.deck-container sup {
  top: -0.5em;
}
.deck-container sub {
  bottom: -0.25em;
}
.deck-container textarea {
  overflow: auto;
}
.ie6 .deck-container legend, .ie7 .deck-container legend {
  margin-left: -7px;
}
.deck-container input[type="radio"] {
  vertical-align: text-bottom;
}
.deck-container input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 .deck-container input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 .deck-container input {
  vertical-align: text-bottom;
}
.deck-container label, .deck-container input[type="button"], .deck-container input[type="submit"], .deck-container input[type="image"], .deck-container button {
  cursor: pointer;
}
.deck-container button, .deck-container input, .deck-container select, .deck-container textarea {
  margin: 0;
}
.deck-container input:invalid, .deck-container textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
.deck-container input:invalid .no-boxshadow, .deck-container textarea:invalid .no-boxshadow {
  background-color: #f0dddd;
}
.deck-container button {
  width: auto;
  overflow: visible;
}
.ie7 .deck-container img {
  -ms-interpolation-mode: bicubic;
}
.deck-container, .deck-container select, .deck-container input, .deck-container textarea {
  color: #444;
}
.deck-container a {
  color: #607890;
}
.deck-container a:hover, .deck-container a:focus {
  color: #036;
}
.deck-container a:link {
  -webkit-tap-highlight-color: #fff;
}
.deck-container.deck-loading {
  display: none;
}

.slide {
  width: auto;
  min-height: 100%;
  position: relative;
}
.slide h1 {
  font-size: 4.5em;
}
.slide h1, .slide .vcenter {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  max-height: 100%;
}
.csstransforms .slide h1, .csstransforms .slide .vcenter {
  padding: 0 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.slide .vcenter h1 {
  position: relative;
  top: auto;
  padding: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.slide h2 {
  font-size: 2.25em;
  font-weight: bold;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888;
}
.slide h3 {
  font-size: 1.4375em;
  font-weight: bold;
  margin-bottom: .30435em;
}
.slide h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: .25em;
}
.slide h5 {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: .2222em;
}
.slide h6 {
  font-size: 1em;
  font-weight: bold;
}
.slide img, .slide iframe, .slide video {
  display: block;
  max-width: 100%;
}
.slide video, .slide iframe, .slide img {
  display: block;
  margin: 0 auto;
}
.slide p, .slide blockquote, .slide iframe, .slide img, .slide ul, .slide ol, .slide video {
  margin-bottom: 1em;
}
.slide pre{
    margin-bottom: 0.3em;
}

.slide pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-left: 1em;
  padding-top: 0.3em;
  padding-bottom: -0.7em;
  border: 1px solid #888;
}
.slide em {
  font-style: italic;
}
.slide li {
  padding: .25em 0;
  vertical-align: middle;
}

.deck-before, .deck-previous, .deck-next, .deck-after {
  position: absolute;
  left: -999em;
  top: -999em;
}

.deck-current {
  z-index: 2;
}

.slide .slide {
  visibility: hidden;
  position: static;
  min-height: 0;
}

.deck-child-current {
  position: static;
  z-index: 2;
}
.deck-child-current .slide {
  visibility: hidden;
}
.deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current {
  visibility: visible;
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    -webkit-box-reflect: none !important;
    -moz-box-reflect: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  * :before, * :after {
    display: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .slide {
    position: static !important;
    visibility: visible !important;
    display: block !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important;
  }

  h1, .vcenter {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    padding: 0 !important;
    position: static !important;
  }

  .deck-container > .slide {
    page-break-after: always;
  }

  .deck-container {
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
    display: block !important;
  }

  script {
    display: none;
  }
}
